//#colors
$color__theme = #E84237;
$color__theme--disable= rgba(232, 66, 55, 0.7);
$color__theme--disable-hex=#A9352D;
$color__text= #FFF;
$color__text--sad= #B8B8B8;
//#fonts
$font= Roboto, sans-serif;

//#size
$size__title= 24px;
$size__text= 14px;
$size__text--small= 12px;
//#background
$background__color= #161616;
$background__input= #363636;
