.form-page {
  flex  1 1 auto
  display flex
  &__header {
    margin-top 22px
  }
  &__title {
    text-align center
    margin-top 21px
  }
  &__link {
    margin auto auto 19px auto
  }
  &__exit {
    cursor pointer
  }
  &__form {
    margin-top 20px
  }
  &__links {
    display flex
    justify-content space-between
    margin auto 0 16px 0
    .form-page__link {
      margin 0
    }
  }
}
.form {
  &__input {
    display block
    margin-top 15px
    &:first-child {
      margin-top 0
    }
  }
  &__button {
    margin-top 30px
    margin-bottom 40px
  }
}
