.link {
  font-family $font
  color $color__theme
  text-decoration none
  font-size $size__text
}


body {
  margin: 0;
  padding: 0;
}
p {margin: 0}
input, button {outline:none;}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
  display flex
  flex-direction column
  flex  1 1 auto
  &--row {
    flex-direction row
  }
  &--solid {
    flex 0 1 auto
  }
}

.title {
  font-size: $size__title;
  color: $color__text;
  margin: 0;
}
